{% extends 'base.html' %}{% load staticfiles %}
{% block pageHead %}
    <h1 class="center">Profile Details</h1>
{% endblock %}

{% block pageContent %}

<div class="document-breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Company Profile</a></li>
        </ul>
    </div><!-- /.container -->
</div>

<div class="row">
    <div class="col-sm-4">
		<div class="company-card">
		    <div class="company-card-image">
		        <span>Employeer</span>
		        <a href="company-detail.html">
		            <img src="{% static 'img/logo.png' %}" alt=""></a>
		        
		    </div><!-- /.company-card-image -->

		    <div class="company-card-data">
		        <dl>
		            <dt>Website</dt>
		            <dd><a href="{{cmp_details.website}}">{{cmp_details.website}}</a></dd>

		            <dt>E-mail</dt>
		            <dd>{{cmp_details.user_profile.email}}</dd>

		            <dt>Phone</dt>
		            <dd>{{cmp_details.contact_number}}</dd>

		            <dt>Address</dt>
		            <dd>
		                {{cmp_details.address}}
		            </dd>
		        </dl>
		    </div><!-- /.company-card-data -->
		</div><!-- /.company-card -->


            <div class="widget">
                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                </ul>
            </div><!-- /.widget -->

            <div class="widget">
                <h2>Created By</h2>

			    <div class="company-card-data">
			        <dl>
			            <dt>Name</dt>
			            <dd>{{cmp_details.user_profile.first_name}} {{cmp_details.user_profile.last_name}}</dd>

			            <dt>Username</dt>
			            <dd>{{cmp_details.user_profile.username}}</dd>

			            <dt>Created At</dt>
			            <dd>{{cmp_details.user_profile.date_joined}}</dd>
			        </dl>
		    </div><!-- /.company-card-data -->
            </div><!-- /.widget -->
        </div><!-- /.col-* -->

        <div class="col-sm-8">
            <div class="company-header">
                <h1>{{cmp_details.name}} <span>File Hosting Service</span></h1>

                <a href="#" class="btn btn-secondary">Favorite</a>
                <a href="#" class="btn btn-default">Receive updates</a>
                <a href="#" class="btn btn-default">Follow</a>
            </div><!-- /.company-header -->

            <div class="company-stats">
                <div class="company-stat">
                    <span>Open Positions</span>
                    <strong>12</strong>
                </div><!-- /.company-stat -->

                <div class="company-stat">
                    <span>Number of Application</span>
                    <strong>43</strong>
                </div><!-- /.company-stat -->

                <div class="company-stat">
                    <span>Followers</span>
                    <strong>324</strong>
                </div><!-- /.company-stat -->
            </div><!-- /.company-stat -->

            <h3 class="page-header">Company Profile</h3>

            <p>
                {{cmp_details.description}}
            </p>

            <h3 class="page-header">Open Positions</h3>

            <div class="companies-list">
            {% for op_obj in openong_details %}
                        <div class="companies-list-item">
                                <div class="companies-list-item-image">
                        <a href="#">
                            
                                <img src="" alt="{{forloop.counter}}" style="width: 14px;">
                            
                        </a>
                    </div><!-- /.companies-list-item-image -->

                    <div class="companies-list-item-heading">
                        <h2><a href="#">{{op_obj.job_title}}</a></h2>
                        <h3>{{op_obj.location}}</h3>

                    </div><!-- /.companies-list-item-heading -->

                    <div class="companies-list-item-count">
                        <a href="#">{{op_obj.number_of_vacancies}} open positions</a>
                    </div><!-- /.positions-list-item-count -->

                    <div class="companies-list-item-rating">
                        Experince : 
                        <span class="companies-list-item-rating-count">{{op_obj.work_experienc_min}} - {{op_obj.work_experienc_max}}</span>
                        
                    </div><!-- /.companies-list-item-rating -->
                </div><!-- /.companies-list-item --> 
            {% endfor %}
            </div>
        </div><!-- /.col-sm-8 -->
    </div>

{% endblock %}