

{% extends 'base.html' %}


{% block pageHead %}
    <h1 class="center">Join Now</h1>
{% endblock %}

{% block pageContent %}


<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">
                    <strong>Company Account</strong>
                    <span>We are hiring employees</span>
                </a>
            </li>
        </ul>



        <div class="tab-content">
            <form method="post" action='{% url "register_company_profile" %}'>{% csrf_token %}
            <div role="tabpanel" class="tab-pane active" id="personal">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="form-register-email">E-mail</label>
                            {{cmpny_form.email}}
                            {{cmpny_form.email.errors}}
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label for="form-register-password">Password</label>
                            <input type="password" name="password" class="form-control" id="form-register-password">
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label for="form-register-retype">Retype</label>
                            <input type="password" name="password2" class="form-control" id="form-register-retype">
                        </div><!-- /.form-group -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="form-register-first-name">First Name</label>
                                {{cmpny_form.first_name}}
                                {{cmpny_form.first_name.errors}}
                            </div><!-- /.form-group -->

                            <div class="form-group col-sm-6">
                                <label for="form-login-surname">Last Name</label>
                                {{cmpny_form.last_name}}
                                {{cmpny_form.last_name.errors}}
                            </div><!-- /.form-group -->
                        </div><!-- /.row -->

                        <div class="form-group">
                            <label form="form-register-photo">Photo</label>
                            <input type="file" name="form-register-photo" id="form-register-photo">
                        </div><!-- /.form-group-->
                    </div><!-- /.col-* -->

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="form-register-company-name">Company Name</label>
                            {{cmpny_form.name}}
                            {{cmpny_form.name.errors}}
                        </div><!-- /.form-group -->


                        <div class="form-group">
                            <label for="form-register-company-address-line">Description</label>
                            {{cmpny_form.description}}
                            {{cmpny_form.description.errors}}
                        </div><!-- /.form-group -->


                        <div class="form-group">
                            <label for="form-register-company-website">Contact Number</label>
                            {{cmpny_form.contact_number}}
                            {{cmpny_form.contact_number.errors}}
                        </div><!-- /.form-group -->


                        <div class="form-group">
                            <label for="form-register-company-website">Industry Type</label>
                            {{cmpny_form.industry_type}}
                            {{cmpny_form.industry_type.errors}}
                        </div><!-- /.form-group -->




                    </div><!-- /.col-* -->


                    <div class="col-sm-6">

                        <div class="form-group">
                            <label for="form-register-company-address-line">Address Line</label>
                            {{cmpny_form.address}}
                            {{cmpny_form.address.errors}}
                        </div><!-- /.form-group -->


                        <div class="form-group">
                            <label for="form-register-company-website">Company Type</label>
                            {{cmpny_form.company_type}}
                            {{cmpny_form.company_type.errors}}
                        </div><!-- /.form-group -->


                        <div class="form-group">
                            <label for="form-register-company-website">Website</label>
                            {{cmpny_form.website}}
                            {{cmpny_form.website.errors}}
                        </div><!-- /.form-group -->


                    </div><!-- /.col-* -->
                </div><!-- /.row -->










                <div class="center">
                    <div class="checkbox checkbox-info">
                        <label><input type="checkbox"> By signing up, you agree with the <a href="#">terms and conditions</a></label>
                    </div><!-- /.checkbox -->

                    <button type="submit" class="btn btn-secondary">Create an Account</button>
                </div><!-- /.center -->
            </div><!-- /.tab-pane -->
            </form>
        </div><!-- /.tab-content -->
    </div><!-- /.col-* -->
</div><!-- /.row -->

<style type="text/css">
    
.errorlist {

    color : red;
}

</style> 

{% endblock %}


